<!--<p>
home works!
<a routerLink="/login">Login</a>
<a routerLink="/admin">Go to admin</a>
</p>-->

<div class="card border-0 shadow p-3 mb-5 bg-white rounded">
        <div class="row">
          <div class="col-6">
            <label>
              Name<span class="color-da251c pl-0">*</span>
              </label>
  
            <input class="rounded-0 " tabindex="0" type="text"
                  placeholder="Please Enter Name" />
          </div>
          <div class="col-6 ">
            <label>
              SurName<span class="color-da251c pl-0">*</span>
              </label>
  
            <input class="rounded-0 " tabindex="0" type="text"
                  placeholder="Please Enter SurName" />
          </div>
          <div class="col-12">
                <label>
                  Email Id<span class="color-da251c pl-0">*</span>
                </label>
      
                <input class="rounded-0 " tabindex="0" type="email"
                      placeholder="Please Enter Email" />
                    </div>
          
        <div class="col-12 mt-4 text-center">
  
          <button type="button" class=" loginBtn btn-bgwhite-h px-3" 
                >
                Submit
      
              </button>
        </div>
  
  
      
    </div>
</div>

